In [1]:
# Load libraries
import numpy as np
import pandas as pd

In [3]:
# Load dataset
TwtDs = pd.read_csv('C:\\Users\\Meng\\OneDrive\\Documents\\tamu\\DataScience\\twitter-user-gender-classification\\gender-classifier-DFE-791531.csv',  na_values=['.'], encoding = "ISO-8859-1")

In [4]:
# shape
print(TwtDs.shape)

(20050, 26)

In [5]:
# head
print(TwtDs.head(10))

    _unit_id _golden _unit_state  _trusted_judgments _last_judgment_at  \
0  815719226   False   finalized                   3    10/26/15 23:24
1  815719227   False   finalized                   3    10/26/15 23:30
2  815719228   False   finalized                   3    10/26/15 23:33
3  815719229   False   finalized                   3    10/26/15 23:10
4  815719230   False   finalized                   3     10/27/15 1:15
5  815719231   False   finalized                   3     10/27/15 1:47
6  815719232   False   finalized                   3     10/27/15 1:57
7  815719233   False   finalized                   3    10/26/15 23:48
8  815719234   False   finalized                   3     10/27/15 1:52
9  815719235   False   finalized                   3     10/27/15 1:49

   gender  gender:confidence profile_yn  profile_yn:confidence  \
0    male             1.0000        yes                    1.0
1    male             1.0000        yes                    1.0
2    male             0.6625        yes                    1.0
3    male             1.0000        yes                    1.0
4  female             1.0000        yes                    1.0
5  female             1.0000        yes                    1.0
6   brand             1.0000        yes                    1.0
7    male             1.0000        yes                    1.0
8  female             1.0000        yes                    1.0
9  female             1.0000        yes                    1.0

          created             ...              \
0    12/5/13 1:48             ...
1   10/1/12 13:51             ...
2  11/28/14 11:30             ...
3   6/11/09 22:39             ...
4   4/16/14 13:23             ...
5   3/11/10 18:14             ...
6   4/24/08 13:03             ...
7   12/3/12 21:54             ...
8     9/8/15 4:50             ...
9    5/13/11 3:32             ...

                                        profileimage  retweet_count  \
0  https://pbs.twimg.com/profile_images/414342229...              0
1  https://pbs.twimg.com/profile_images/539604221...              0
2  https://pbs.twimg.com/profile_images/657330418...              1
3  https://pbs.twimg.com/profile_images/259703936...              0
4  https://pbs.twimg.com/profile_images/564094871...              0
5  https://pbs.twimg.com/profile_images/656336865...              0
6  https://pbs.twimg.com/profile_images/528547133...              0
7  https://pbs.twimg.com/profile_images/508875440...              0
8  https://pbs.twimg.com/profile_images/658670112...              0
9  https://pbs.twimg.com/profile_images/513327289...              0

  sidebar_color                                               text  \
0        FFFFFF  Robbie E Responds To Critics After Win Against...
1        C0DEED  ÛÏIt felt like they were my friends and I was...
2        C0DEED  i absolutely adore when louis starts the songs...
3        C0DEED  Hi @JordanSpieth - Looking at the url - do you...
4             0  Watching Neighbours on Sky+ catching up with t...
5             0  Ive seen people on the train with lamps, chair...
6             0  @BpackEngineer Thank you for your patience whi...
7        C0DEED  Gala Bingo clubs bought for å£241m: The UK's l...
8             0  @_Aphmau_ the pic defines all mcd fangirls/fan...
9        FFFFFF  @Evielady just how lovely is the tree this yea...

  tweet_coord tweet_count   tweet_created      tweet_id        tweet_location  \
0         NaN      110964  10/26/15 12:40  6.587300e+17       main; @Kan1shk3
1         NaN        7471  10/26/15 12:40  6.587300e+17                   NaN
2         NaN        5617  10/26/15 12:40  6.587300e+17                clcncl
3         NaN        1693  10/26/15 12:40  6.587300e+17         Palo Alto, CA
4         NaN       31462  10/26/15 12:40  6.587300e+17                   NaN
5         NaN       20036  10/26/15 12:40  6.587300e+17       New York Gritty
6         NaN       13354  10/26/15 12:40  6.587300e+17             Worldwide
7         NaN      112117  10/26/15 12:40  6.587300e+17                   NaN
8         NaN         482  10/26/15 12:40  6.587300e+17                   NaN
9         NaN       26085  10/26/15 12:40  6.587300e+17  Nottingham, England.

                user_timezone
0                     Chennai
1  Eastern Time (US & Canada)
2                    Belgrade
3  Pacific Time (US & Canada)
4                         NaN
5  Central Time (US & Canada)
6  Eastern Time (US & Canada)
7                         NaN
8                         NaN
9                   Amsterdam

[10 rows x 26 columns]

In [6]:
# check current data type
TwtDs.dtypes

_unit_id                   int64
_golden                     bool
_unit_state               object
_trusted_judgments         int64
_last_judgment_at         object
gender                    object
gender:confidence        float64
profile_yn                object
profile_yn:confidence    float64
created                   object
description               object
fav_number                 int64
gender_gold               object
link_color                object
name                      object
profile_yn_gold           object
profileimage              object
retweet_count              int64
sidebar_color             object
text                      object
tweet_coord               object
tweet_count                int64
tweet_created             object
tweet_id                 float64
tweet_location            object
user_timezone             object
dtype: object

In [7]:
# Dataset Info
TwtDs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
_unit_id                 20050 non-null int64
_golden                  20050 non-null bool
_unit_state              20050 non-null object
_trusted_judgments       20050 non-null int64
_last_judgment_at        20000 non-null object
gender                   19953 non-null object
gender:confidence        20024 non-null float64
profile_yn               20050 non-null object
profile_yn:confidence    20050 non-null float64
created                  20050 non-null object
description              16306 non-null object
fav_number               20050 non-null int64
gender_gold              50 non-null object
link_color               20050 non-null object
name                     20050 non-null object
profile_yn_gold          50 non-null object
profileimage             20050 non-null object
retweet_count            20050 non-null int64
sidebar_color            20050 non-null object
text                     20050 non-null object
tweet_coord              159 non-null object
tweet_count              20050 non-null int64
tweet_created            20050 non-null object
tweet_id                 20050 non-null float64
tweet_location           12564 non-null object
user_timezone            12252 non-null object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [10]:
# gender distribution
print(TwtDs.groupby('gender').size())
#print(TwtDs.groupby('gender').sum())

gender
brand      5942
female     6700
male       6194
unknown    1117
dtype: int64

In [11]:
TwtHd = TwtDs.head(100)

In [12]:
TwtHd.shape

(100, 26)

In [14]:
TwtHd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
_unit_id                 100 non-null int64
_golden                  100 non-null bool
_unit_state              100 non-null object
_trusted_judgments       100 non-null int64
_last_judgment_at        100 non-null object
gender                   100 non-null object
gender:confidence        100 non-null float64
profile_yn               100 non-null object
profile_yn:confidence    100 non-null float64
created                  100 non-null object
description              93 non-null object
fav_number               100 non-null int64
gender_gold              0 non-null object
link_color               100 non-null object
name                     100 non-null object
profile_yn_gold          0 non-null object
profileimage             100 non-null object
retweet_count            100 non-null int64
sidebar_color            100 non-null object
text                     100 non-null object
tweet_coord              2 non-null object
tweet_count              100 non-null int64
tweet_created            100 non-null object
tweet_id                 100 non-null float64
tweet_location           63 non-null object
user_timezone            69 non-null object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 19.7+ KB

In [16]:
TwtHd['txtwd']=TwtHd.text.str.split()

C:\Users\Meng\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
TwtHd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 27 columns):
_unit_id                 100 non-null int64
_golden                  100 non-null bool
_unit_state              100 non-null object
_trusted_judgments       100 non-null int64
_last_judgment_at        100 non-null object
gender                   100 non-null object
gender:confidence        100 non-null float64
profile_yn               100 non-null object
profile_yn:confidence    100 non-null float64
created                  100 non-null object
description              93 non-null object
fav_number               100 non-null int64
gender_gold              0 non-null object
link_color               100 non-null object
name                     100 non-null object
profile_yn_gold          0 non-null object
profileimage             100 non-null object
retweet_count            100 non-null int64
sidebar_color            100 non-null object
text                     100 non-null object
tweet_coord              2 non-null object
tweet_count              100 non-null int64
tweet_created            100 non-null object
tweet_id                 100 non-null float64
tweet_location           63 non-null object
user_timezone            69 non-null object
txtwd                    100 non-null object
dtypes: bool(1), float64(3), int64(5), object(18)
memory usage: 20.5+ KB

In [21]:
TwtHd.txtwd

0     [Robbie, E, Responds, To, Critics, After, Win,...
1     [ÛÏIt, felt, like, they, were, my, friends, a...
2     [i, absolutely, adore, when, louis, starts, th...
3     [Hi, @JordanSpieth, -, Looking, at, the, url, ...
4     [Watching, Neighbours, on, Sky+, catching, up,...
5     [Ive, seen, people, on, the, train, with, lamp...
6     [@BpackEngineer, Thank, you, for, your, patien...
7     [Gala, Bingo, clubs, bought, for, å£241m:, The...
8     [@_Aphmau_, the, pic, defines, all, mcd, fangi...
9     [@Evielady, just, how, lovely, is, the, tree, ...
10    [how, are, you, taking, care, of, yourself?, h...
11    [MTG, Deals, 1x, Rank-Up-Magic, -, The, Sevent...
12    [Just, put, my, ass, on, the, line, for, you, ...
13    [https://t.co/z4sbWUugd8, What, the, Nation, W...
14    [will, i, even, need, sound, effects, for, the...
15    [https://t.co/EROGWTFTYo, It's, a, glow, of, s...
16    [@giannaaa28, lmao, _Ù÷â_Ù÷â, dude, I'm, hella...
17    [@coolyazzy94, Ditto, -, I'm, still, learning,...
18    [@CaribBros, @JstSaleem, I, do, but, I, don't,...
19    [Me, too,, saw, five, lionesses, drinking, aro...
20    [@CraftYear2015, @isabelpascual, thank, you, f...
21    [All, the, girls, went, to, sleep, and, the, g...
22    [@ChrisAOfficial, I'm, on, the, right, side_Ù÷...
23    [YALL, LMFAOO, RIGHT, WHEN, THE, CHORUS, CAME,...
24    [James, Bond, premier, night, at, the, @Everym...
25    [@SydnieJR, except, once, the, Hallmark, movie...
26    [How, beautiful, is, the, religion, which, tea...
27    [Fuck, you, !, NASA, is, awesome., https://t.c...
28    [You, leave, the, group, chat, for, more, than...
29    [As, opposed, to, Pump, where, it's, like, HI,...
                            ...
70    [(Surgical, enhancements, are, for, a, differe...
71    [The, CTAS, Pro, High, colorway, inspired, by,...
72    [I, swear, if, she, touches, me, one, more, ti...
73    [She, is, not, beautiful, m,, and, I'm, talkin...
74    [The, Wildcats, pay, a, visit, to, Fain, eleme...
75    [bad, day, in, the, office, -, but, nice, to, ...
76    [New, Study, Says, Bacon, Causes, Cancer,, But...
77    [James, Walter, invented, the, bolt-action, ri...
78    [@Lov3rzWorldwide, Say, He, is, the, one., The...
79    [Now, I, Changed!, I'm, not, the, same, Man, I...
80    [Amazing:, See, Igbo, Village, In, The, United...
81    [@R_M_Appleyard, alarm, wont, work, as, you, c...
82    [Join, the, The, Creative, Group, team!, See, ...
83    [#Akinator,, the, Genie, App,, just, guessed, ...
84    ['30, Teams, in, 30, Days', NBA, Season, Previ...
85    [@TekifyUK, I, am, trying, to, unbrick, my, Ki...
86    [If, you, say, someone, like, Wale, or, Meek, ...
87    [Move, Of, The, Week, Double, Leg, Stretch, Û...
88    [Goodword, @, The, Honey, Hive, Gallery, https...
89    [THE, FIRST, FANCAM, OF, THAT, AMAZING, INTRO,...
90    [@RepComstock, You, are, supporting, the, Fath...
91    [#biz, Import, Veteran:, The, 6, tricks, every...
92    [The, FA, have, lost, it,, they're, fining, cl...
93    [No, Water, To, Frisco, Subdivision:, A, contr...
94    [Reimagining, the, #webdesign, process, by, @I...
95    [The, accumulation, of, rake, marks:SNIP, #Bla...
96    [@deptulahasrage, Clemson, only, need, to, sta...
97    [I, can, see, now, that, there's, no, way, I'm...
98    [If, you, have, some, time,, would, be, great,...
99       [@cringe_channel, chris, chan, has, the, fame]
Name: txtwd, dtype: object

In [22]:
TwtHd.txtwd[5]

['Ive',
 'seen',
 'people',
 'on',
 'the',
 'train',
 'with',
 'lamps,',
 'chairs,',
 'tvs',
 'etc',
 'https://t.co/w6zf4pVM4I']

In [23]:
# gender distribution in the sample
print(TwtHd.groupby('gender').size())

gender
brand      28
female     33
male       37
unknown     2
dtype: int64