In [1]:
# Load libraries
import numpy as np
import pandas as pd

In [2]:
# Load dataset
TwtDs = pd.read_csv('C:\\Users\\Meng\\OneDrive\\Documents\\tamu\\DataScience\\twitter-user-gender-classification\\gender-classifier-DFE-791531.csv',  na_values=['.'], encoding = "ISO-8859-1")

In [3]:
# shape
print(TwtDs.shape)

(20050, 26)

In [4]:
# head
print(TwtDs.head(10))

    _unit_id _golden _unit_state  _trusted_judgments _last_judgment_at  \
0  815719226   False   finalized                   3    10/26/15 23:24
1  815719227   False   finalized                   3    10/26/15 23:30
2  815719228   False   finalized                   3    10/26/15 23:33
3  815719229   False   finalized                   3    10/26/15 23:10
4  815719230   False   finalized                   3     10/27/15 1:15
5  815719231   False   finalized                   3     10/27/15 1:47
6  815719232   False   finalized                   3     10/27/15 1:57
7  815719233   False   finalized                   3    10/26/15 23:48
8  815719234   False   finalized                   3     10/27/15 1:52
9  815719235   False   finalized                   3     10/27/15 1:49

   gender  gender:confidence profile_yn  profile_yn:confidence  \
0    male             1.0000        yes                    1.0
1    male             1.0000        yes                    1.0
2    male             0.6625        yes                    1.0
3    male             1.0000        yes                    1.0
4  female             1.0000        yes                    1.0
5  female             1.0000        yes                    1.0
6   brand             1.0000        yes                    1.0
7    male             1.0000        yes                    1.0
8  female             1.0000        yes                    1.0
9  female             1.0000        yes                    1.0

          created             ...              \
0    12/5/13 1:48             ...
1   10/1/12 13:51             ...
2  11/28/14 11:30             ...
3   6/11/09 22:39             ...
4   4/16/14 13:23             ...
5   3/11/10 18:14             ...
6   4/24/08 13:03             ...
7   12/3/12 21:54             ...
8     9/8/15 4:50             ...
9    5/13/11 3:32             ...

                                        profileimage  retweet_count  \
0  https://pbs.twimg.com/profile_images/414342229...              0
1  https://pbs.twimg.com/profile_images/539604221...              0
2  https://pbs.twimg.com/profile_images/657330418...              1
3  https://pbs.twimg.com/profile_images/259703936...              0
4  https://pbs.twimg.com/profile_images/564094871...              0
5  https://pbs.twimg.com/profile_images/656336865...              0
6  https://pbs.twimg.com/profile_images/528547133...              0
7  https://pbs.twimg.com/profile_images/508875440...              0
8  https://pbs.twimg.com/profile_images/658670112...              0
9  https://pbs.twimg.com/profile_images/513327289...              0

  sidebar_color                                               text  \
0        FFFFFF  Robbie E Responds To Critics After Win Against...
1        C0DEED  ÛÏIt felt like they were my friends and I was...
2        C0DEED  i absolutely adore when louis starts the songs...
3        C0DEED  Hi @JordanSpieth - Looking at the url - do you...
4             0  Watching Neighbours on Sky+ catching up with t...
5             0  Ive seen people on the train with lamps, chair...
6             0  @BpackEngineer Thank you for your patience whi...
7        C0DEED  Gala Bingo clubs bought for å£241m: The UK's l...
8             0  @_Aphmau_ the pic defines all mcd fangirls/fan...
9        FFFFFF  @Evielady just how lovely is the tree this yea...

  tweet_coord tweet_count   tweet_created      tweet_id        tweet_location  \
0         NaN      110964  10/26/15 12:40  6.587300e+17       main; @Kan1shk3
1         NaN        7471  10/26/15 12:40  6.587300e+17                   NaN
2         NaN        5617  10/26/15 12:40  6.587300e+17                clcncl
3         NaN        1693  10/26/15 12:40  6.587300e+17         Palo Alto, CA
4         NaN       31462  10/26/15 12:40  6.587300e+17                   NaN
5         NaN       20036  10/26/15 12:40  6.587300e+17       New York Gritty
6         NaN       13354  10/26/15 12:40  6.587300e+17             Worldwide
7         NaN      112117  10/26/15 12:40  6.587300e+17                   NaN
8         NaN         482  10/26/15 12:40  6.587300e+17                   NaN
9         NaN       26085  10/26/15 12:40  6.587300e+17  Nottingham, England.

                user_timezone
0                     Chennai
1  Eastern Time (US & Canada)
2                    Belgrade
3  Pacific Time (US & Canada)
4                         NaN
5  Central Time (US & Canada)
6  Eastern Time (US & Canada)
7                         NaN
8                         NaN
9                   Amsterdam

[10 rows x 26 columns]

In [5]:
# Dataset Info
TwtDs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
_unit_id                 20050 non-null int64
_golden                  20050 non-null bool
_unit_state              20050 non-null object
_trusted_judgments       20050 non-null int64
_last_judgment_at        20000 non-null object
gender                   19953 non-null object
gender:confidence        20024 non-null float64
profile_yn               20050 non-null object
profile_yn:confidence    20050 non-null float64
created                  20050 non-null object
description              16306 non-null object
fav_number               20050 non-null int64
gender_gold              50 non-null object
link_color               20050 non-null object
name                     20050 non-null object
profile_yn_gold          50 non-null object
profileimage             20050 non-null object
retweet_count            20050 non-null int64
sidebar_color            20050 non-null object
text                     20050 non-null object
tweet_coord              159 non-null object
tweet_count              20050 non-null int64
tweet_created            20050 non-null object
tweet_id                 20050 non-null float64
tweet_location           12564 non-null object
user_timezone            12252 non-null object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [6]:
# gender distribution
print(TwtDs.groupby('gender').size())

gender
brand      5942
female     6700
male       6194
unknown    1117
dtype: int64

In [7]:
# get a small portion of the dataset to do the experiment
TwtHd = TwtDs.head(100)

In [8]:
# the sampled dataset only have one hundred records
TwtHd.shape

(100, 26)

In [9]:
# add a new column to the sampled dataset as a list of words from the tweet 
TwtHd.is_copy = False
TwtHd['txtwd']=TwtHd.text.str.split()

In [11]:
TwtHd.txtwd.head(10)

0    [Robbie, E, Responds, To, Critics, After, Win,...
1    [ÛÏIt, felt, like, they, were, my, friends, a...
2    [i, absolutely, adore, when, louis, starts, th...
3    [Hi, @JordanSpieth, -, Looking, at, the, url, ...
4    [Watching, Neighbours, on, Sky+, catching, up,...
5    [Ive, seen, people, on, the, train, with, lamp...
6    [@BpackEngineer, Thank, you, for, your, patien...
7    [Gala, Bingo, clubs, bought, for, å£241m:, The...
8    [@_Aphmau_, the, pic, defines, all, mcd, fangi...
9    [@Evielady, just, how, lovely, is, the, tree, ...
Name: txtwd, dtype: object

In [16]:
# gender distribution in the sample
print(TwtHd.groupby('gender').size())

gender
brand      28
female     33
male       37
unknown     2
dtype: int64

In [17]:
# Split the dataset by gender
TwtHd_m = TwtHd[TwtHd.gender=='male']
TwtHd_f = TwtHd[TwtHd.gender=='female']
TwtHd_b = TwtHd[TwtHd.gender=='brand']

In [18]:
# put all of the words of the tweets from the sampled male dataset into a long single list
# and then find the top 20 frequent using words by male tweeter users
maletwt = TwtHd_m.text.str.cat(sep='')
maletwtwd = maletwt.split()
cnts = dict()
for word in maletwtwd:
	cnts[word]=cnts.get(word, 0) + 1 
	
lst = list ()
for key, val in cnts.items():
	lst.append((val,key))

lst.sort(reverse=True)

for val, key in lst [:20]:
	print (key, val)

the 37
to 12
I 10
is 9
you 7
in 7
and 7
The 7
- 7
not 6
with 5
of 5
like 5
for 5
it 4
being 4
a 4
I'm 4
up 3
over 3

In [19]:
# put all of the words of the tweets from the sampled female dataset into a long single list
# and then find the top 20 frequent using words by female tweeter users
femaletwt = TwtHd_f.text.str.cat(sep='')
femaletwtwd = femaletwt.split()
cnts = dict()
for word in femaletwtwd:
	cnts[word]=cnts.get(word, 0) + 1 
	
lst = list ()
for key, val in cnts.items():
	lst.append((val,key))

lst.sort(reverse=True)

for val, key in lst [:20]:
	print (key, val)

the 34
to 9
and 9
of 8
for 8
you 6
on 6
I 6
with 5
this 5
in 5
are 5
a 5
up 4
that 4
it 4
as 4
The 4
who 3
was 3

In [20]:
# put all of the words of the tweets from the sampled brand dataset into a long single list
# and then find the top 20 frequent using words by brand tweeter users
brandtwt = TwtHd_f.text.str.cat(sep='')
brandtwtwd = femaletwt.split()
cnts = dict()
for word in brandtwtwd:
	cnts[word]=cnts.get(word, 0) + 1 
	
lst = list ()
for key, val in cnts.items():
	lst.append((val,key))

lst.sort(reverse=True)

for val, key in lst [:20]:
	print (key, val)

the 34
to 9
and 9
of 8
for 8
you 6
on 6
I 6
with 5
this 5
in 5
are 5
a 5
up 4
that 4
it 4
as 4
The 4
who 3
was 3